*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#090909;
color:white;

font-family:
Inter,
Arial,
sans-serif;

overflow-x:hidden;

}

.noise{

position:fixed;
inset:0;

pointer-events:none;

opacity:.025;

background-image:
radial-gradient(#fff 1px,transparent 1px);

background-size:7px 7px;

}

header{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.logo{

font-size:clamp(70px,11vw,150px);

font-weight:900;

letter-spacing:-5px;

color:white;

text-decoration:none;

transition:.35s;

}

.logo:hover{

opacity:.6;

}

header p{

margin-top:22px;

font-size:22px;

color:#777;

}

section{

max-width:950px;

margin:auto;

padding:140px 30px;

}

.available{

display:flex;

flex-direction:column;

gap:40px;

}

.available div{

font-size:clamp(42px,7vw,82px);

font-weight:700;

border-bottom:1px solid #222;

padding-bottom:20px;

transition:.3s;

cursor:default;

}

.available div:hover{

padding-left:25px;

color:white;

}

.contact{

display:flex;

flex-direction:column;

gap:28px;

}

.contact h2{

font-size:60px;

margin-bottom:25px;

}

.contact a{

text-decoration:none;

font-size:34px;

color:#7e7e7e;

transition:.25s;

width:max-content;

}

.contact a:hover{

color:white;

padding-left:14px;

}

footer{

padding:90px;

text-align:center;

color:#555;

}
